html, body {
	width: 100%;
	height: 100%;
	margin: 5px;

}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	font-family: Tahoma;
}

.Atype, .Btype, .Ftype {
	background: #dfe1e7;
	text-align: left;
	font-size: 40px;
	border-left: 10px dotted #D0D0FF;
	padding-left: 10px;
	min-width: 80px;
	height: 150px;
	margin-left: 10px;
}

.Ftype {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.Atype:hover, .Btype:hover, .Ftype:hover{
	background: yellow;
	color: goldenrod;
	cursor: pointer;
}